.wrapper {
  height: 100%;
  width: 100%;
  position: relative;

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @include media('<=tablet') {
    height: 60vw;
    overflow: hidden;
  }
}
