.listHidden {
  margin-top: var(--fs-spacing-2);
}

.item {
  + .item {
    margin-top: var(--fs-spacing-2);
  }
}

.showAllButton {
  display: flex;
  align-items: center;
  gap: var(--fs-spacing-1);
  padding: 0;
  margin-top: var(--fs-spacing-4);
  cursor: pointer;
  font-size: var(--fs-text-size-0);
  font-weight: var(--fs-text-weight-bold);
}
