.card {
  padding: var(--fs-spacing-4) var(--fs-spacing-4) var(--fs-spacing-6);
  box-shadow: 0 var(--jwp-product-card-shadow-offset)
    var(--jwp-product-card-shadow-blur) 0 rgba(0, 0, 0, 0.075);
  border-radius: var(--fs-radius-2);
  background-color: var(--jwp-color-white);

  .isSheetMusic & {
    padding: var(--fs-spacing-4);
  }
}

.details {
  @include media('>notebook') {
    display: flex;
    gap: var(--fs-spacing-4);
  }

  .isSheetMusic & {
    margin-bottom: var(--fs-spacing-5);
  }
}

.media {
  position: relative;
  margin-bottom: var(--fs-spacing-3);

  .isSheetMusic & {
    margin-bottom: var(--fs-spacing-6);
  }

  @include media('>notebook') {
    margin-bottom: 0;
    flex: 0 0 322px;

    .isSheetMusic & {
      flex: 0 0 240px;
      margin-bottom: var(--fs-spacing-3);
    }
  }
}

.badges {
  position: absolute;
  top: var(--fs-spacing-0);
  left: var(--fs-spacing-0);
}

.summary {
  @include media('>notebook') {
    flex: 0 1 100%;
  }
}
