.readMore {
  color: var(--jwp-color-blue);
  font-size: var(--fs-text-size-0);
  margin-left: var(--fs-spacing-0);
  cursor: pointer;
}

.readMoreArrow {
  color: var(--jwp-color-blue);
  height: 8px;
}
