.wrapper {
  position: relative;
}

.backgroundImageWrapper {
  height: 35vw;
  overflow: hidden;
  width: 100%;

  @include media('<=notebook') {
    height: 65vw;
  }

  @include media('<=tablet') {
    height: 95vw;
  }
}

.backgroundImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.contentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
  color: var(--jwp-color-white);
  text-align: center;
  width: calc(100% - (5.5% + 80px));
}

.slideCopy {
  max-width: 700px;
}

.ctasWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include media('<=notebook') {
    flex-direction: column;
  }
}
