.modalContentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--jwp-color-white);
  border-radius: var(--fs-radius-4);
  box-shadow: 0 2.375rem 2rem 0 rgba(0, 0, 0, 0.075);
  max-height: 100vh;

  [data-fs-modal-header-title] {
    font-family: var(--fs-text-face-title);
    font-size: var(--fs-text-size-4);
    font-weight: var(--fs-text-weight-medium);
  }

  [data-fs-overlay] {
    overflow-y: scroll;
    max-height: 100vh;
    padding-bottom: var(--fs-spacing-9);
  }

  @include media('<=tablet') {
    [data-fs-modal] {
      width: calc(100vw / 3);
      min-width: calc(1500px / 3);
    }
  }
}

.modalHeaderWrapper {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: var(--jwp-color-dark-grey);
    height: var(--fs-spacing-11);
    margin-bottom: var(--fs-spacing-3);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  [data-fs-modal-header-title] {
    color: var(--jwp-color-white);
  }

  [data-fs-button] {
    position: absolute;
    top: 0;
    right: 0;
  }

  [data-fs-button-wrapper] svg {
    color: var(--jwp-color-white);
  }

  [data-fs-button][data-fs-button-variant='tertiary']:hover
    [data-fs-button-wrapper],
  [data-fs-button][data-fs-button-variant='tertiary']:focus
    [data-fs-button-wrapper],
  [data-fs-button][data-fs-button-variant='tertiary']:focus-visible
    [data-fs-button-wrapper] {
    background-color: transparent;
    box-shadow: none;
  }
}

.orderButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--fs-spacing-0);
  height: 100%;
  padding: 0;
  cursor: pointer;

  p {
    @include media('>=tablet') {
      font-size: var(--fs-text-size-0);
      color: var(--fs-text-link-button-blue);
      text-decoration: underline;
    }
  }

  div {
    height: 100%;
  }
}
