.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: var(--fs-spacing-3);
  margin-bottom: var(--fs-spacing-5);
  text-align: center;

  @include media('>notebook') {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-bottom: var(--fs-spacing-7);
    margin-right: var(--fs-spacing-7);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--fs-spacing-1);

  @include media('>=tablet') {
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--fs-spacing-5);
    row-gap: var(--fs-spacing-6);
  }

  @include media('>notebook') {
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    padding: 0;
  }

  @include media('>notebookwide') {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media('>desktop') {
    grid-template-columns: repeat(5, 1fr);
  }
}

.fiveProducts .product {
  &:last-of-type {
    display: none;

    @include media('>notebook') {
      display: block;
    }

    @include media('>notebookwide') {
      display: none;
    }

    @include media('>desktop') {
      display: block;
    }
  }
}

.tenProducts .product {
  &:nth-of-type(n + 9) {
    @include media('>=tablet') {
      display: none;
    }

    @include media('>notebook') {
      display: block;
    }

    @include media('>notebookwide') {
      display: none;
    }

    @include media('>desktop') {
      display: block;
    }
  }

  &:last-of-type {
    @include media('>notebook') {
      display: none;
    }

    @include media('>desktop') {
      display: block;
    }
  }
}
