.summary {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--fs-spacing-2);
  margin: var(--fs-spacing-1) 0;
}

.titleText {
  font-family: var(--fs-text-face-title);
  font-size: var(--fs-text-size-10);
}

.title {
  a {
    color: var(--jwp-color-black);
    text-decoration: none;

    @include hover {
      text-decoration: none;
    }
  }
}

.shareWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 6px;

  .plp & {
    margin-top: 0;
  }

  button {
    width: 48px;
    height: 38px;
  }

  [data-fs-add-wishlist-icon] {
    max-height: 28px;
    min-height: 100%;
  }

  [data-fs-add-wishlist-icon-selected='false'] {
    svg {
      color: #000 !important;
    }
  }

  svg {
    width: 100%;
  }

  @include media('<tablet') {
    gap: var(--fs-spacing-2);
    margin-top: var(--fs-spacing-0);

    button {
      height: 28px;
      width: 28px;
    }
  }
}

.shareDivider {
  height: 38px;
  width: 1px;
  background-color: var(--jwp-color-border);

  @include media('<tablet') {
    height: 28px;
  }
}

.subtitle {
  margin-bottom: var(--fs-spacing-0);

  .plp & {
    font-size: var(--fs-text-size-3);
  }
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--fs-spacing-3);
}

.spec {
  color: var(--fs-text-color-2);

  .plp & {
    font-size: var(--fs-text-size-0);
  }
}

.specSmall {
  font-size: var(--fs-text-size-0);
}

.badges {
  display: flex;
  gap: var(--fs-spacing-1);
}

.badgeEditorsChoice svg {
  width: 7rem;
  height: auto;
}

.rating {
  iframe {
    max-width: 100%;
  }
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: var(--fs-spacing-1);
}

.priceFrom {
  display: flex;
  gap: var(--fs-spacing-0);
  align-items: center;
  color: var(--jwp-color-maroon);
  font-size: var(--fs-text-size-0);
  line-height: 1.15;
}

.priceAmount,
.priceAmount [data-fs-product-price] [data-fs-price-variant='spot'] {
  font-size: var(--fs-text-size-5);
  font-weight: var(--fs-text-weight-bold);
  color: var(--jwp-color-maroon);
}

.priceAmount [data-fs-product-price] {
  display: flex;
  gap: var(--fs-spacing-2);
  align-items: center;
}

.priceAmount [data-fs-product-price] [data-fs-price-variant='listing'] {
  font-size: var(--fs-text-size-4);
  font-weight: var(--fs-text-weight-regular);
  color: var(--fs-text-color-2);
}

.description {
  padding-top: var(--fs-spacing-3);
  border-top: 1px solid var(--jwp-color-grey);
  width: 100%;
  font-family: var(--fs-text-face-body);
  line-height: 1.7;

  p {
    display: inline;
  }
}

.copyright {
  color: var(--fs-text-color-2);
  font-size: var(--fs-text-size-0);
}

.viewPDPLink {
  text-transform: uppercase;
}

.readmoreLink {
  color: var(--jwp-color-blue);
  font-weight: var(--fs-text-weight-semibold);
}

.readMore {
  display: inline-flex;
  align-items: center;
  color: var(--jwp-color-blue);
  cursor: pointer;
  font-size: var(--fs-text-size-0);
  margin-left: var(--fs-spacing-0);
}

.readMoreArrow {
  color: var(--jwp-color-blue);
  height: 8px;
}

.shippingMessageContainer {
  padding: var(--fs-spacing-3) 0;
}

.shippingMessage {
  font-weight: var(--fs-text-weight-semibold);
}

.buttonsContainer {
  display: flex;

  > * + * {
    border-left: 1px solid var(--jwp-color-grey);
    padding-left: var(--fs-spacing-3);
    margin-left: var(--fs-spacing-3);
  }
}
