.sheetMusic {
  .slide {
    background-image: linear-gradient(180deg, #f6f4f5 90%, transparent 10%);
    padding-top: 1.5rem;
    padding-left: 12%;
    padding-right: 12%;
  }

  div[role='button'] {
    display: flex;
    justify-content: center;
  }

  [data-fs-image] {
    background-color: var(--jwp-color-white);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: var(--fs-spacing-2);
    object-fit: contain;
    max-height: 438px;

    @include media('>=tabletlg') {
      width: 100%;
    }

    @include media('<=phonelg') {
      width: 240px;
    }
  }
}

.defaultProduct {
  [data-fs-image] {
    object-fit: contain;
    max-height: 500px;
  }
}

.modalContentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--jwp-color-white);
  border-radius: var(--fs-radius-4);
  box-shadow: 0 2.375rem 2rem 0 rgba(0, 0, 0, 0.075);
  max-height: 100vh;

  @include media('<=tablet') {
    [data-fs-modal] {
      width: calc(100vw / 2);
      min-width: calc(1500px / 2);
    }
  }
}

.modalHeaderWrapper {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: var(--fs-spacing-3);
  }

  [data-fs-button] {
    position: absolute;
    top: 0;
    right: 0;
  }

  [data-fs-button-wrapper] svg {
    color: var(--jwp-color-black);
  }

  [data-fs-button][data-fs-button-variant='tertiary']:hover
    [data-fs-button-wrapper],
  [data-fs-button][data-fs-button-variant='tertiary']:focus
    [data-fs-button-wrapper],
  [data-fs-button][data-fs-button-variant='tertiary']:focus-visible
    [data-fs-button-wrapper] {
    background-color: transparent;
    box-shadow: none;
  }
}

.imageButton {
  cursor: pointer;
}
