.editorsChoiceHeaderWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--fs-spacing-1);
  align-items: center;
  padding-bottom: var(--fs-spacing-5);
  text-align: center;

  @include media('<=tablet') {
    padding-left: var(--fs-spacing-1);
    padding-right: var(--fs-spacing-1);
  }
}

.iconWrapper {
  width: 116px;
}
