// ----------------------------------------------------------
// GLOBAL TOKENS
// Custom Theme
// ----------------------------------------------------------
@layer theme {
  .theme {
    // --------------------------------------------------------
    // Colors (Branding Core)
    // --------------------------------------------------------
    --jwp-color-black: #1c1c1c;
    --jwp-color-black-accent: #3d3d3d;
    --jwp-color-white: #ffffff;
    --jwp-color-white-10-percent: rgba(255, 255, 255, 0.1);
    --jwp-color-grey: #e0dadb;
    --jwp-color-background-grey: #f1f2f3;
    --jwp-color-light-grey: #f6f4f5;
    --jwp-color-medium-grey: #b8c1cb;
    --jwp-color-dim-grey: #777475;
    --jwp-color-dark-grey: #423f47;
    --jwp-color-table-grey: #d7d5d6;
    --jwp-color-maroon-dark: #340814;
    --jwp-color-maroon: #630a22;
    --jwp-color-maroon-accent: #8c0d30;
    --jwp-color-maroon-faded: #866e77;
    --jwp-color-green: #00835c;
    --jwp-color-green-accent: #019e70;
    --jwp-color-blue: #2158e5;

    --jwp-color-plum: #552a6b;
    --jwp-color-navy: #1b3650;
    --jwp-color-crimson: #75202c;
    --jwp-color-forest-green: #4a6740;
    --jwp-color-purple: #5e2ac4;
    --jwp-color-tan: #d2bc91;
    --jwp-color-gold: #ffd98f;
    --jwp-color-yellow: #ffb338;
    --jwp-color-blurple: #7887f7;
    --jwp-color-light-azure: #487fd1;
    --jwp-color-tan: #fff0d8;
    --jwp-color-brown: #a06607;
    --jwp-color-teal: #c2eade;

    --jwp-color-myscore-orange: #eb8f2c;
    --jwp-color-myscore-blue: #34638a;
    --jwp-color-myscore-blue-grey: #5e5a66;
    --jwp-color-imprinting-gold: #ffd700;
    --jwp-color-badge-red: #ed1c24;
    --jwp-color-badge-red-light: #fff1f5;
    --jwp-color-badge-red-secondary: #e5412f;
    --jwp-color-badge-red-tertiary: #ec2227;
    --jwp-color-badge-blue: #2666c2;
    --jwp-color-badge-turquoise-light: #208182;
    --jwp-color-badge-turquoise-dark: #133e4f;
    --jwp-color-badge-black: #282828;
    --jwp-color-border: var(--jwp-color-grey);
    --jwp-color-border-light: rgba(224, 218, 219, 0.4);
    --fs-color-neutral-0: var(--jwp-color-white);
    --fs-color-neutral-1: var(--jwp-color-light-grey);
    --fs-color-neutral-2: #e2e2e2;
    --fs-color-neutral-3: #606060;
    --fs-color-neutral-4: var(--jwp-color-dark-grey);
    --fs-color-neutral-5: var(--jwp-color-black);

    // Text
    --fs-text-color-0: --jwp-color-black;
    --fs-text-color-1: #2c566e;
    --fs-text-color-2: #717584;
    --fs-text-link-color: #2188ae;
    --fs-text-link-button-blue: #4667d2;

    // Input
    --jwp-color-error-red: #ed1c24;

    // Bullets
    --fs-bullets-color-active: var(--jwp-color-maroon);
    --fs-bullets-color-inactive: #e4d5d9;
    // --------------------------------------------------------
    // Typography (Branding Core)
    // --------------------------------------------------------
    --fs-text-face-body: 'open-sans', sans-serif;
    --fs-text-face-title: 'futura-pt', sans-serif;

    // Weight
    --fs-text-weight-extralight: 100;
    --fs-text-weight-light: 300;
    --fs-text-weight-regular: 400;
    --fs-text-weight-medium: 500;
    --fs-text-weight-semibold: 600;
    --fs-text-weight-bold: 700;
    --fs-text-weight-extrabold: 900;

    // Size
    --fs-text-size-base: 1rem; // 16px

    --fs-text-size-00: 0.6875rem; // 11px
    --fs-text-size-0: 0.75rem; // 12px
    --fs-text-size-1: 0.8125rem; // 13px
    --fs-text-size-2: 0.875rem; // 14px
    --fs-text-size-3: 1rem; // 16px
    --fs-text-size-4: 1.25rem; // 20px
    --fs-text-size-5: 1.5rem; // 24px
    --fs-text-size-6: 1.625rem; // 26px
    --fs-text-size-7: 1.75rem; // 28px
    --fs-text-size-8: 1.875rem; // 30px
    --fs-text-size-9: 2rem; // 32px
    --fs-text-size-10: 2.25rem; // 36px
    --fs-text-size-11: 3rem; // 48px
    --fs-text-size-12: 4rem; // 64px

    // --------------------------------------------------------
    // Spacing (UI Essentials)
    // --------------------------------------------------------
    --fs-spacing-0: 0.25rem; // 4px
    --fs-spacing-1: 0.5rem; // 8px
    --fs-spacing-2: 0.75rem; // 12px
    --fs-spacing-3: 1rem; // 16px
    --fs-spacing-3-1\2: 1.25rem; // 20px;
    --fs-spacing-4: 1.5rem; // 24px
    --fs-spacing-5: 2rem; // 32px
    --fs-spacing-6: 2.5rem; // 40px
    --fs-spacing-7: 3rem; // 48px
    --fs-spacing-8: 3.5rem; // 56px
    --fs-spacing-9: 4rem; // 64px
    --fs-spacing-10: 4.5rem; // 72px
    --fs-spacing-11: 5rem; // 80px
    --fs-spacing-12: 5.5rem; // 88px
    --fs-spacing-13: 6rem; // 96px
    --fs-spacing-14: 6.5rem; // 104
    --fs-spacing-15: 7rem; // 112px
    --fs-spacing-16: 7.5rem; // 120px

    --fs-mobile-x-padding: var(--fs-spacing-3);

    // --------------------------------------------------------
    // Grid & Layout (UI Essentials)
    // --------------------------------------------------------
    --fs-grid-max-width-narrow: 80rem;
    --fs-grid-max-width-wide: 95.5rem;
    --fs-grid-max-width: 99.375rem;

    // --------------------------------------------------------
    // Interactive Controls (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Border Radius
    // --------------------------------------------------------
    --fs-radius-circle: 50%;
    --fs-radius-rounded: 10rem;

    --fs-radius-1: 0.125rem; // 2px
    --fs-radius-2: 0.25rem; // 4px
    --fs-radius-3: 0.375rem; // 6px
    --fs-radius-4: 0.5rem; // 8px

    // --------------------------------------------------------
    // Transitions
    // --------------------------------------------------------
    --fs-standard-transition: 200ms ease-in-out;

    // --------------------------------------------------------
    // Box Shadows
    // --------------------------------------------------------
    --jwp-product-card-shadow-offset: 10px;
    --jwp-product-card-shadow-blur: 30px;

    // --------------------------------------------------------
    // FS UI Components
    // --------------------------------------------------------
    --fs-input-box-border-color-hover: transparent;
    --fs-border-color-active: transparent;

    // Buttons
    [data-fs-button] {
      --fs-button-primary-bkg-color: var(--jwp-color-maroon);
      --fs-button-primary-bkg-color-hover: var(--jwp-color-maroon-accent);
      --fs-button-primary-bkg-color-active: var(--jwp-color-maroon);

      --fs-button-primary-inverse-text-color: var(--jwp-color-maroon);
      --fs-button-primary-inverse-bkg-color: var(--jwp-color-white);
      --fs-button-primary-inverse-bkg-color-hover: var(--jwp-color-light-grey);
      --fs-button-primary-inverse-bkg-color-active: var(--jwp-color-white);

      --fs-button-secondary-bkg-color: var(--jwp-color-black);
      --fs-button-secondary-bkg-color-hover: var(--jwp-color-black-accent);
      --fs-button-secondary-text-color: var(--fs-color-text-inverse);
      --fs-button-secondary-text-color-hover: var(--fs-color-text-inverse);
      --fs-button-secondary-border-color: var(--jwp-color-black);
      --fs-button-secondary-bkg-color-active: var(--jwp-color-black);

      --fs-button-secondary-inverse-bkg-color: var(--jwp-color-white);
      --fs-button-secondary-inverse-bkg-color-hover: var(
        --jwp-color-light-grey
      );
      --fs-button-secondary-inverse-text-color: var(--jwp-color-black);
      --fs-button-secondary-inverse-text-color-hover: var(--jwp-color-black);
      --fs-button-secondary-inverse-border-color: var(--jwp-color-white);
      --fs-button-secondary-inverse-bkg-color-active: var(--jwp-color-white);

      --fs-button-tertiary-bkg-color: transparent;
      --fs-button-tertiary-bkg-color-hover: transparent;
      --fs-button-tertiary-text-color: var(--fs-color-text);
      --fs-button-tertiary-bkg-color-active: transparent;
      --fs-button-tertiary-text-color-active: var(--fs-color-text);

      --fs-button-tertiary-inverse-bkg-color: transparent;
      --fs-button-tertiary-inverse-bkg-color-hover: transparent;
      --fs-button-tertiary-inverse-text-color: var(--fs-color-text-inverse);
      --fs-button-tertiary-inverse-bkg-color-active: transparent;
    }

    // Checkbox
    [data-fs-checkbox] {
      --fs-checkbox-border-color: var(--jwp-color-border);
      --fs-border-color-active: var(--jwp-color-maroon);
      --fs-checkbox-border-color-hover: var(--jwp-color-maroon);
      --fs-checkbox-checked-bkg-color: var(--jwp-color-maroon);
      --fs-checkbox-checked-bkg-color-hover: var(--jwp-color-maroon);
      --fs-checkbox-checked-border-color-hover: var(--jwp-color-maroon);
    }

    [data-fs-checkbox]:not(:checked, :disabled) {
      background: var(--jwp-color-white);
    }

    // Modal overlay
    [data-fs-overlay] {
      z-index: 5;
    }

    // Quantity Selector {
    [data-fs-quantity-selector] {
      --fs-qty-selector-width: calc(var(--fs-control-tap-size) * 2.25);
      --fs-qty-selector-border-color-active: transparent;
      --fs-qty-selector-shadow-hover: none;
      --fs-qty-selector-height: 50px;

      [data-fs-input] {
        width: 50px;
        border: 1px solid #e0dadb;
        border-radius: 4px;
        text-align: center;
        font-family: var(--fs-text-face-body);
        background-color: #f6f4f5;
      }

      [data-fs-button] {
        width: 28px;
        min-height: var(--fs-qty-selector-height);
        padding: 0;
      }
    }

    // Accordion
    [data-fs-accordion-button] {
      color: pink;
    }

    // Cart Sidebar
    [data-fs-cart-sidebar-title] {
      margin-bottom: 0;
    }

    // Alert
    [data-fs-alert-content] {
      margin-bottom: 0;
    }

    // Link
    [data-fs-link] {
      --fs-link-padding: 0;
    }

    // Carousel
    [data-fs-product-shelf] {
      margin-top: 2rem;
    }

    [data-fs-carousel] {
      --fs-carousel-padding-desktop: 0;
    }

    [data-fs-carousel-item] {
      width: auto !important;
    }

    [data-fs-carousel] [data-fs-carousel-track] {
      padding: 0;
    }

    // Slide Over
    [data-fs-slide-over] {
      background-color: var(--jwp-color-white);
      height: 100%;
      overflow-y: auto;
    }

    [data-fs-slide-over-header] {
      position: relative;
      display: block;
      background-color: var(--jwp-color-dark-grey);
      padding: 1.25rem 2.5rem;
      color: var(--jwp-color-white);
      text-align: center;
    }

    [data-fs-slide-over-header-icon] {
      @include input-focus-ring;
      position: absolute;
      right: 8px;
      top: 0;
      width: 40px;
      height: 40px;
      min-height: 40px;
      --fs-button-tertiary-text-color: var(--jwp-color-white);
      --fs-button-tertiary-bkg-color-hover: transparent;

      [data-fs-button-wrapper] {
        box-shadow: none;
      }

      svg {
        height: 20px;
        width: 20px;
      }
    }

    // Range Slider
    [data-fs-slider-range],
    [data-fs-slider-wrapper] {
      --fs-slider-height: 6px;
    }

    [data-fs-slider-range] {
      --fs-slider-selection-bkg-color: var(--jwp-color-maroon);
    }

    [data-fs-slider-wrapper] {
      --fs-slider-bkg-color: var(--jwp-color-border);
      --fs-slider-border-radius: 10px;
    }

    [data-fs-slider-thumb] {
      --fs-slider-thumb-bkg-color: var(--jwp-color-white);
      --fs-slider-thumb-bkg-color-hover: var(--jwp-color-white);
      --fs-slider-thumb-border-color: var(--jwp-color-border);
      --fs-slider-thumb-size: 20px;
      --fs-slider-thumb-border-color: var(--jwp-color-border);
      --fs-slider-thumb-border-color-hover: var(--jwp-color-border);
    }

    [data-fs-slider-thumb]::-webkit-slider-thumb,
    [data-fs-slider-thumb]::-moz-range-thumb {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      border-radius: var(--fs-radius-circle);
    }

    [data-fs-slider-value-label] {
      --fs-slider-absolute-values-text-color: var(--jwp-color-black);
      border-radius: 3px;
    }

    // Price Range (w/ slider)
    [data-fs-price-range-inputs] {
      display: flex;
      justify-content: space-between;

      [data-fs-input-field] {
        width: 80px;
        padding-top: var(--fs-spacing-4);

        input {
          --fs-input-border-color: var(--jwp-color-border);
          --fs-input-border-radius: 3px;
          --fs-input-field-padding: 0 0.75rem;
          --fs-input-height: 40px;
          --fs-input-box-shadow-hover: 0;
          --fs-input-border-color-hover: var(--jwp-color-border);
          --fs-border-color-active: var(--jwp-color-border);

          &:focus-visible {
            box-shadow: none;
          }
        }
      }

      [data-fs-label] {
        top: 0;
        left: 0;
        font-weight: var(--fs-text-weight-regular);
        font-family: var(--fs-text-face-title);
        --fs-input-field-label-padding: 0;
        --fs-input-field-label-size: var(--fs-text-size-2);
        --fs-input-field-label-color: var(--jwp-color-black);
      }
    }

    // Filter Skeleton
    [data-fs-filter-skeleton-text] {
      margin-top: var(--fs-spacing-2);
      height: 7.5rem !important;
    }

    // Scroll to top button
    .section-scroll-to-top-button {
      display: none;
    }

    // Toast Message
    [data-fs-toast] {
      --fs-toast-bkg-color: var(--jwp-color-maroon-accent);
      --fs-toast-width: calc(100% - (2 * var(--fs-spacing-3)));
      max-width: none;
      color: var(--jwp-color-white);
      top: inherit;
      right: inherit;
      left: 0;
      bottom: var(--fs-spacing-3);

      @include media('>=notebook') {
        left: var(--fs-spacing-3);
        --fs-toast-width: 398px;
      }
    }

    [data-fs-toast-message] {
      font-weight: var(--fs-text-weight-bold);
    }

    .section_section__K5krg [data-fs-toast][data-fs-toast-visible='true'] {
      transform: translate3d(0, -10%, 0);
    }

    // Breadcrumb
    [data-fs-dropdown-item-icon] {
      height: 1rem;
    }

    [data-fs-breadcrumb-dropdown-link] {
      font-size: var(--fs-text-size-0);
      color: var(--jwp-color-dark-grey);
      padding: var(--fs-spacing-1) 0;

      & > * {
        color: inherit;
      }

      a {
        text-decoration: none;

        @include hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// --------------------------------------------------------
// TODO: Discuss where to put global/base styles
// --------------------------------------------------------

@layer components {
  @import '@faststore/ui/src/components/atoms/Link/styles.scss';
  @import '@faststore/ui/src/components/atoms/Button/styles.scss';
  @import '@faststore/ui/src/components/atoms/Input/styles.scss';
  @import '@faststore/ui/src/components/molecules/InputField/styles.scss';
  @import '@faststore/ui/src/components/atoms/Checkbox/styles.scss';
  @import '@faststore/ui/src/components/molecules/CheckboxField/styles.scss';
  @import '@faststore/ui/src/components/atoms/Radio/styles.scss';
  @import '@faststore/ui/src/components/molecules/RadioField/styles.scss';
  @import '@faststore/ui/src/components/atoms/Select/styles.scss';
  @import '@faststore/ui/src/components/molecules/SelectField/styles.scss';
  @import '@faststore/ui/src/components/atoms/Slider/styles.scss';
  @import '@faststore/ui/src/components/organisms/SlideOver/styles.scss';
  @import '@faststore/ui/src/components/organisms/ImageGallery/styles.scss';
  @import '@faststore/ui/src/components/molecules/SkuSelector/styles.scss';
  @import '@faststore/ui/src/components/molecules/QuantitySelector/styles.scss';
  @import '@faststore/ui/src/components/organisms/CartSidebar/styles.scss';
  @import '@faststore/ui/src/components/molecules/CartItem/styles.scss';
  @import '@faststore/ui/src/components/molecules/Alert/styles.scss';
  @import '@faststore/ui/src/components/molecules/OrderSummary/styles.scss';
  @import '@faststore/ui/src/components/atoms/Price/styles.scss';
  @import '@faststore/ui/src/components/atoms/Loader/styles.scss';
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  div:has(> main) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 var(--fs-spacing-4);
    font-family: var(--fs-text-face-title);
    font-weight: var(--fs-text-weight-medium);
  }

  h1 {
    // 64px > 32px
    font-size: clamp(var(--fs-text-size-9), 5vw, var(--fs-text-size-12));
  }

  h2 {
    // 48px > 28px
    font-size: clamp(var(--fs-text-size-7), 5vw, var(--fs-text-size-11));
  }

  h3 {
    // 36px > 26px
    font-size: clamp(var(--fs-text-size-6), 5vw, var(--fs-text-size-10));
  }

  h4 {
    // 32px > 24px
    font-size: clamp(var(--fs-text-size-5), 5vw, var(--fs-text-size-9));
  }

  h5 {
    // 30px > 20px
    font-size: clamp(var(--fs-text-size-4), 5vw, var(--fs-text-size-8));
  }

  h6 {
    // 24px > 20px
    font-size: clamp(var(--fs-text-size-4), 5vw, var(--fs-text-size-5));
  }

  p,
  code,
  pre,
  blockquote,
  ul,
  ol,
  table {
    font-weight: var(--fs-text-weight-regular);
    font-size: var(--fs-text-size-base);
    line-height: 1.7;

    @include media('<=notebook') {
      line-height: 1.5;
    }
  }

  a {
    @include input-focus-ring;
    color: var(--jwp-color-blue);
    text-decoration: none;

    @include hover-active-focus {
      text-decoration: underline;
    }
  }

  button {
    @include input-focus-ring;
    transition: all var(--fs-standard-transition);
  }

  select {
    @include input-focus-ring;
    transition: all var(--fs-standard-transition);
    border: 1px solid var(--fs-color-neutral-2);
    justify-content: space-between;
    font-size: var(--fs-text-size-2);
    font-weight: var(--fs-text-weight-medium);
    font-family: var(--fs-text-face-body);
    margin-top: 10px;
    padding: 12px 46px 12px 16px;
    border-radius: 2px;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--jwp-color-white);
    background-image: url('../assets/icons/arrow-down.svg');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    line-height: 1.75;

    &:focus,
    &:focus-visible {
      border: 1px solid var(--jwp-color-black);
      outline: var(--jwp-color-black);
    }

    &:hover {
      border: 1px solid var(--jwp-color-black);
      cursor: pointer;
    }
  }

  option {
    background-color: var(--jwp-color-white);
    color: var(--jwp-color-black);
  }

  ul,
  ol {
    margin: 0 0 var(--fs-spacing-4);
    padding: 0 0 0 var(--fs-spacing-4);
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  hr {
    background-color: var(--jwp-color-grey);
    height: 1px;
    border: 0;
  }

  table {
    border-collapse: collapse;
  }

  th,
  td {
    padding: var(--fs-spacing-2);
    border: 1px solid var(--jwp-color-grey);
  }

  .slick-slider--product-list {
    .slick-track {
      display: flex !important;
    }

    .slick-slide {
      height: inherit !important;

      & > * {
        display: flex;
        justify-content: center;
        height: 100%;
        padding: calc(
            var(--jwp-product-card-shadow-blur) +
              var(--jwp-product-card-shadow-offset)
          )
          var(--fs-spacing-2);

        @include media('>tablet') {
          padding: calc(
              var(--jwp-product-card-shadow-blur) +
                var(--jwp-product-card-shadow-offset)
            )
            var(--fs-spacing-4);
        }
      }
    }

    .slick-dots li button:before {
      font-size: 10px !important;
    }

    .slick-dots li.slick-active button:before {
      color: var(--jwp-color-maroon) !important;
    }
  }

  .slick-slider-department {
    margin-top: calc(
      (
          var(--jwp-product-card-shadow-blur) +
            var(--jwp-product-card-shadow-offset)
        ) * -1
    );

    margin-bottom: calc(
      (
          var(--jwp-product-card-shadow-blur) +
            var(--jwp-product-card-shadow-offset)
        ) * -1
    );

    .slick-slide {
      & > * {
        @include media('>tablet') {
          padding: calc(
              var(--jwp-product-card-shadow-blur) +
                var(--jwp-product-card-shadow-offset)
            )
            var(--fs-spacing-2);
        }
      }
    }
  }

  .visually-hidden {
    @include visually-hidden;
  }

  .list-reset {
    @include list-reset;
  }
}

// Customizations for react-image-gallery
@import '~react-image-gallery/styles/css/image-gallery.css';

.image-gallery-slide-wrapper.image-gallery-thumbnails-left,
.image-gallery-slide-wrapper.image-gallery-thumbnails-right {
  @include media('<=tablet') {
    width: 100%;
  }
}

.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left,
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left
  .image-gallery-thumbnails {
  width: 70px;
  button,
  span {
    width: 70px;
  }
}

.image-gallery-thumbnails-wrapper {
  margin-right: var(--fs-spacing-5) !important;
}

.image-gallery-thumbnail.active {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid var(--jwp-color-maroon) !important;
  opacity: 100%;
}

.image-gallery-thumbnail {
  opacity: 50%;
  margin-bottom: var(--fs-spacing-3);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid transparent;

  &:hover,
  &:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid transparent;
  }

  .image-gallery-thumbnail-image {
    width: 70px;
    max-height: 70px;
    object-fit: contain;
  }
}

.image-gallery-bullets {
  position: static;
  margin-top: var(--fs-spacing-3);
}

.image-gallery-bullets .image-gallery-bullet.active {
  background: var(--fs-bullets-color-active);
  border: none;
  transform: none;
}

.image-gallery-bullets .image-gallery-bullet {
  background: var(--fs-bullets-color-inactive);
  border: none;
  box-shadow: none;
  margin: 0 4px;
  padding: 5px;
}

image-gallery-slide-wrapper .image-gallery-bullets {
  border: none;
  box-shadow: none;
  margin: 0 4px;
  padding: 5px;
  position: relative;
  bottom: inherit;
  margin-top: var(--fs-spacing-3);
  background: none !important;
}
